[submodule "turtlebot3_simulations"]
	path = turtlebot3_simulations
	url = https://github.com/ROBOTIS-GIT/turtlebot3_simulations.git
[submodule "turtlebot3_msgs"]
	path = turtlebot3_msgs
	url = https://github.com/ROBOTIS-GIT/turtlebot3_msgs.git
[submodule "aws-robomaker-small-warehouse-world"]
	path = aws-robomaker-small-warehouse-world
	url = https://github.com/aws-robotics/aws-robomaker-small-warehouse-world.git
